@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* colors */
$Orange: hsl(26, 100%, 55%);
$Orange_Light: hsl(25, 100%, 94%);
$Title: hsl(220, 13%, 13%);
$Text: hsl(219, 9%, 45%);
$StrikeThrough: hsl(220, 14%, 75%);
$Light: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);